.Landing {
  margin: 0;
  padding: 25px;
  margin-bottom: 15px;
}

.iframecontainer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  pointer-events: none;
}

.iframebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: none;
}

iframe .logo2 {
  font-family: "Pacifico", cursive;
}

.first-name {
  margin-bottom: 5px;
}

.submit {
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .iframebox {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    text-align: center;
    pointer-events: none;
  }

  .iframecontainer {
    position: relative;
    overflow: hidden;
    padding: 10%;
    pointer-events: none;
  }
  /* iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  } */
}
