@import "~antd/dist/antd.css";

.userdetails {
  color: black;
  border-style: solid;
  border-color: rgb(39, 97, 163);
  margin: 25px;
  padding: 5px;
  border-radius: 10px;
}

.recordlist {
  padding-left: 0;
}

.userinfo-container {
  padding: 30px;
}

.add {
  color: white;
  border: rgb(39, 97, 163) 3px solid;
  border-radius: 3px;
  background-color: rgb(39, 97, 163);
  padding: 5px;
}

.edit {
  margin-right: 5px;
}
