@import "~antd/dist/antd.css";

.userdetails {
  color: black;
  border-style: solid;
  border-color: rgb(39, 97, 163);
  margin: 25px;
  padding: 5px;
  border-radius: 10px;
}

.userinfo-container {
  padding-bottom: 30px;
}

.edit {
  margin-right: 5px;
}
