@import "~antd/dist/antd.css";

.userdetails {
  color: black;
  border-style: solid;
  border-color: darkcyan;
  margin: 25px;
  padding: 5px;
  border-radius: 10px;
}

.userinfo-container {
  padding-bottom: 30px;
}
