body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #332e2e;
  background: rgb(220, 236, 247);
}

.App {
  text-align: center;
  margin: 0;
}

h1 {
  border-bottom: 1px black solid;
  font-family: "Roboto", sans-serif;
}
